body {
  background-color: white;
}

  nav {
      display:inline-block;
       float:right;
    }

  
    

    header{
      height: 85px;
    }

    #logo{
      float: left;
      height: 3.5em;
    }

    #head p {
     float: left;
    }

    #Delicious{
      font-family: 'Yellowtail', cursive;
      font-size: 3vw;
      font-weight: 600;
    }

    #best{
      color: rgb(175, 172, 172);
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: xx-small;
  letter-spacing: .2em;
  margin-left: 5px;
    }

    #rss{
      margin-left: 10px;
    }

    .line{
      background-image: linear-gradient(45deg, #ffffff 28.57%, #e0e0e0 28.57%, #e0e0e0 50%, #ffffff 50%, #ffffff 78.57%, #e0e0e0 78.57%, #e0e0e0 100%);
background-size: 9.90px 9.90px;
height: 10px;
    }

    #chocolate{
      font-family: 'Oswald', sans-serif;
      letter-spacing: -2px;
  margin-top: 50px;
  font-size: 3.5vw;
  font-weight: 700;
    }

    #post{
      color: rgb(173, 173, 173);
  font-family: 'Pathway Gothic One', sans-serif;
  letter-spacing: .1em;
  margin-top: 5px;
  font-size: small ;
    }


    #printer-image{
      display: inline; 
      float: right;
      

    }

    #print{
      float: right;
      color: rgb(173, 173, 173);
      font-size: small;
      
    }

      #line1{
        width: 48%;
        float: left;
        position: relative;
        bottom:-10px;
      }

      #line2{
        width: 48%;
        position: relative;
        bottom: -17px;
      }

      #copy{
        margin-top: 5%;
      }

      .footerP{
        text-align: center;
        color: gray;
      }

      footer{
        margin-top: 10%;
      }
       
    
      #col1,#form-list{
     background-image: url("/img/list-bg.png");
     }
     
 
p.ppp {
  padding-left: 94px;
  height: 45px;
  width: 500px;
}
.button {
  position: absolute;
  background-color: #c7705a;
  height: 50px;
  right: 0%;
  width: 170px;
}
footer {
  margin-top: 50px;
}
.footerimg{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  padding-right: 650px ;
  padding-left: 650px;
  vertical-align: middle ;
}
.footerParagraph {
  color: gray;
  font-family: 'Crimson Text', serif;
  font-size: 13px;
  margin: auto;
  margin-bottom: 4%;
  width: 80%;
  text-align: center;
  line-height: 2;
}
    #choco{
      width: 100%;
      margin-top: 30px ;
    }



    .text{
      color: gray;
  font-family: 'Crimson Text', serif;
  font-size: large;
  line-height: 2vw;
  margin-top: 2vw;
  margin-left: 5px;
  text-indent: 3%;
    }

    input[type=checkbox]:checked + label {
      text-decoration: line-through;
    }

    #list{
      margin-top: 20px;
      width: 100%;

    }

   #form-div{
     margin-bottom: 50px;
     box-shadow: 5px 7px #c2bfbf;
   }

    #form-list{
      color: gray;
      display: inherit;
      font-family: patrick hand, cursive;
      line-height: 50px; 
      margin-left: 7%;
      width: 100%;
      margin-top: -7px;
    }

    #col1{
      float: left;
      width: 40%;
    }

    #col2{
      width: 40%;
    }

    .check{
      position: relative;
      top: -9px;
    }

    #comment{
      margin-top: 20px;
    }
    #face{
      
      margin-left: 5px;
      float: left;
    }

    #van{
      font-size: x-large;
      font-weight: 700;
      margin-bottom: .20em;
      margin-left: 7%;
    }
    #food{
      margin-left: 1.5%;
      float: left;
      font-size: large;
  line-height: 1.3em;
  width: 85%;
  color: rgb(87, 86, 86);
    }
    #share{
    float: right;
    width: 200px;
    height: 50px;
    margin-top: -5%;
    margin-right: .10%;
    color: white;
    padding: 15px;
  background-color: #bb583f;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
    }

    #small-logo{
      border: 2px solid white;
  display: inline;
  width: 2em;
  float: left;
  margin: 0 6px;
}
    
    #line1{
      width: 48%;
      float: left;
      position: relative;
      bottom:-10px;
    }

    #line2{
      width: 48%;
      position: relative;
      bottom: -17px;
    }

    #copy{
      margin-top: 5%;
    }

    .footerP{
      text-align: center;
      color: gray;
    }

    footer{
      margin-top: 10%;
      margin-bottom: 30px;
    }

    
